# MULTI / HIERARCHICAL INDEX

**1**. Also known as multi-level index or hierarchical index, meaning more than one index or more than one column as index, acting as a row identifier.

**2**. MultiIndex can be created using `set_index()`, `groupby()`, `pd.MultiIndex()`, `MultiIndex.from_arrays()`, `MultiIndex.from_tuples()`, `MultiIndex.from_product()`, `MultiIndex.from_frame()`, etc which can be used to create multiple indexes from arrays, tuples, dataframes, etc.  

**3.** `labels` is the name of the index level and `level` indicates order of the index (left to right)

In [1]:
import pandas as pd
df = pd.read_csv(r"Dataset\volcano_data_2010.csv",  usecols=['Name','Year','Latitude', 'Longitude', 'Country'])
df.head(10)

   Year                    Name        Country  Latitude  Longitude
0  2010              Tungurahua        Ecuador    -1.467    -78.442
1  2010        Eyjafjallajokull        Iceland    63.630    -19.620
2  2010                  Pacaya      Guatemala    14.381    -90.601
3  2010                 Sarigan  United States    16.708    145.780
4  2010  Karangetang [Api Siau]      Indonesia     2.780    125.480
5  2010                Sinabung      Indonesia     3.170     98.392
6  2010                  Merapi      Indonesia    -7.542    110.442
7  2010              Tungurahua        Ecuador    -1.467    -78.442
8  2010         Tengger Caldera      Indonesia    -7.942    112.950
9  2011                  Merapi      Indonesia    -7.542    110.442

In [2]:
# Using groupby() method to create Multilevel index
temp_Df = df.groupby(['Country', 'Year','Name']).Name.count()
temp_Df

Country           Year  Name
Cape Verde        2014  Fogo                      1
Chile             2011  Puyehue                   1
                  2015  Calbuco                   1
Ecuador           2010  Tungurahua                2
                  2011  Tungurahua                1
Eritrea           2011  Nabro                     1
Guatemala         2010  Pacaya                    1
                  2017  Fuego                     1
Iceland           2010  Eyjafjallajokull          1
                  2011  Katla                     1
Indonesia         2010  Karangetang [Api Siau]    1
                        Merapi                    1
                        Sinabung                  1
                        Tengger Caldera           1
                  2011  Gamalama                  1
                        Karangetang [Api Siau]    1
                        Lokon-Empung              1
                        Merapi                    1
                  2013  Merapi                    1
                        Paluweh                   2
                        Sinabung                  1
                  2014  Gamalama                  1
                        Kelut                     1
                        Sinabung                  1
                  2015  Karangetang [Api Siau]    1
                        Sinabung                  2
                  2016  Rinjani                   1
                        Sinabung                  2
                  2017  Dieng Volc Complex        1
                        Merapi                    1
                        Sinabung                  2
                  2018  Ijen                      1
Italy             2017  Campi Flegrei             1
                        Etna                      1
Japan             2011  Kirishima                 1
                  2013  Sakura-jima               1
                  2014  On-take                   1
                  2016  Aso                       1
                  2018  Kusatsu-Shirane           1
New Zealand       2013  Okataina                  1
                  2015  Okataina                  1
Papua New Guinea  2015  Manam                     1
                  2018  Kadovar                   2
Peru              2013  Ubinas                    1
Philippines       2011  Bulusan                   1
                  2013  Mayon                     1
                  2018  Mayon                     1
Russia            2012  Tolbachik                 1
United States     2010  Sarigan                   1
                  2012  Kilauea                   2
                  2014  Kilauea                   1
                  2016  Yellowstone               1
                  2018  Kilauea                   2
Vanuatu           2017  Aoba                      1
                  2018  Aoba                      1
Name: Name, dtype: int64

**2.** When creating a DataFrame with a MultiIndex, make sure to use `sort_values()` to the end of of the code. 

Beacuse as per Pandas documentation : 
> Indexing will work even if the data are not sorted, but will be rather inefficient (and show a PerformanceWarning). It will also return a copy of the data rather than a view.

In [3]:
# Unstack() method is used to convert the Series into DataFrame

#'Level' args tells which index level(int)/labels(str) to unstack. Will acts as Column in the resulting df
df = temp_Df.unstack(level = ['Year'], fill_value= 0).sort_index() 

df.head(10) # 2 columns (Country, Year) makes up the index of the resulting df.

Year                           2010  2011  2012  2013  2014  2015  2016  2017  \
Country    Name
Cape Verde Fogo                   0     0     0     0     1     0     0     0
Chile      Calbuco                0     0     0     0     0     1     0     0
           Puyehue                0     1     0     0     0     0     0     0
Ecuador    Tungurahua             2     1     0     0     0     0     0     0
Eritrea    Nabro                  0     1     0     0     0     0     0     0
Guatemala  Fuego                  0     0     0     0     0     0     0     1
           Pacaya                 1     0     0     0     0     0     0     0
Iceland    Eyjafjallajokull       1     0     0     0     0     0     0     0
           Katla                  0     1     0     0     0     0     0     0
Indonesia  Dieng Volc Complex     0     0     0     0     0     0     0     1

Year                           2018
Country    Name
Cape Verde Fogo                   0
Chile      Calbuco                0
           Puyehue                0
Ecuador    Tungurahua             0
Eritrea    Nabro                  0
Guatemala  Fuego                  0
           Pacaya                 0
Iceland    Eyjafjallajokull       0
           Katla                  0
Indonesia  Dieng Volc Complex     0

In [4]:
# Prinitng index(es)/ MultiIndex of the dataframe
# names list at last represents the index labels 
df.index

MultiIndex([(      'Cape Verde',                   'Fogo'),
            (           'Chile',                'Calbuco'),
            (           'Chile',                'Puyehue'),
            (         'Ecuador',             'Tungurahua'),
            (         'Eritrea',                  'Nabro'),
            (       'Guatemala',                  'Fuego'),
            (       'Guatemala',                 'Pacaya'),
            (         'Iceland',       'Eyjafjallajokull'),
            (         'Iceland',                  'Katla'),
            (       'Indonesia',     'Dieng Volc Complex'),
            (       'Indonesia',               'Gamalama'),
            (       'Indonesia',                   'Ijen'),
            (       'Indonesia', 'Karangetang [Api Siau]'),
            (       'Indonesia',                  'Kelut'),
            (       'Indonesia',           'Lokon-Empung'),
            (       'Indonesia',                 'Merapi'),
            (       'Indonesia',                'Paluweh'),
            (       'Indonesia',                'Rinjani'),
            (       'Indonesia',               'Sinabung'),
            (       'Indonesia',        'Tengger Caldera'),
            (           'Italy',          'Campi Flegrei'),
            (           'Italy',                   'Etna'),
            (           'Japan',                    'Aso'),
            (           'Japan',              'Kirishima'),
            (           'Japan',        'Kusatsu-Shirane'),
            (           'Japan',                'On-take'),
            (           'Japan',            'Sakura-jima'),
            (     'New Zealand',               'Okataina'),
            ('Papua New Guinea',                'Kadovar'),
            ('Papua New Guinea',                  'Manam'),
            (            'Peru',                 'Ubinas'),
            (     'Philippines',                'Bulusan'),
            (     'Philippines',                  'Mayon'),
            (          'Russia',              'Tolbachik'),
            (   'United States',                'Kilauea'),
            (   'United States',                'Sarigan'),
            (   'United States',            'Yellowstone'),
            (         'Vanuatu',                   'Aoba')],
           names=['Country', 'Name'])

In [5]:
# index values in our newly created MultiIndex
df.index.values

array([('Cape Verde', 'Fogo'), ('Chile', 'Calbuco'), ('Chile', 'Puyehue'),
       ('Ecuador', 'Tungurahua'), ('Eritrea', 'Nabro'),
       ('Guatemala', 'Fuego'), ('Guatemala', 'Pacaya'),
       ('Iceland', 'Eyjafjallajokull'), ('Iceland', 'Katla'),
       ('Indonesia', 'Dieng Volc Complex'), ('Indonesia', 'Gamalama'),
       ('Indonesia', 'Ijen'), ('Indonesia', 'Karangetang [Api Siau]'),
       ('Indonesia', 'Kelut'), ('Indonesia', 'Lokon-Empung'),
       ('Indonesia', 'Merapi'), ('Indonesia', 'Paluweh'),
       ('Indonesia', 'Rinjani'), ('Indonesia', 'Sinabung'),
       ('Indonesia', 'Tengger Caldera'), ('Italy', 'Campi Flegrei'),
       ('Italy', 'Etna'), ('Japan', 'Aso'), ('Japan', 'Kirishima'),
       ('Japan', 'Kusatsu-Shirane'), ('Japan', 'On-take'),
       ('Japan', 'Sakura-jima'), ('New Zealand', 'Okataina'),
       ('Papua New Guinea', 'Kadovar'), ('Papua New Guinea', 'Manam'),
       ('Peru', 'Ubinas'), ('Philippines', 'Bulusan'),
       ('Philippines', 'Mayon'), ('Russia', 'Tolbachik'),
       ('United States', 'Kilauea'), ('United States', 'Sarigan'),
       ('United States', 'Yellowstone'), ('Vanuatu', 'Aoba')],
      dtype=object)

In [6]:
display(df.index.names)    # Getting names of the index or getting index lables

display(df.index.names[0]) # Getting index labels of the first index level. level 0

display(df.index.names[1]) # Getting index labels of the second index level. level 1

FrozenList(['Country', 'Name'])

'Country'

'Name'

In [7]:
display(df.index.levels)     # Index levels of the dataframe

display(df.index.levels[0])  # first index level

display(df.index.levels[1])  # Second index level

FrozenList([['Cape Verde', 'Chile', 'Ecuador', 'Eritrea', 'Guatemala', 'Iceland', 'Indonesia', 'Italy', 'Japan', 'New Zealand', 'Papua New Guinea', 'Peru', 'Philippines', 'Russia', 'United States', 'Vanuatu'], ['Aoba', 'Aso', 'Bulusan', 'Calbuco', 'Campi Flegrei', 'Dieng Volc Complex', 'Etna', 'Eyjafjallajokull', 'Fogo', 'Fuego', 'Gamalama', 'Ijen', 'Kadovar', 'Karangetang [Api Siau]', 'Katla', 'Kelut', 'Kilauea', 'Kirishima', 'Kusatsu-Shirane', 'Lokon-Empung', 'Manam', 'Mayon', 'Merapi', 'Nabro', 'Okataina', 'On-take', 'Pacaya', 'Paluweh', 'Puyehue', 'Rinjani', 'Sakura-jima', 'Sarigan', 'Sinabung', 'Tengger Caldera', 'Tolbachik', 'Tungurahua', 'Ubinas', 'Yellowstone']])

Index(['Cape Verde', 'Chile', 'Ecuador', 'Eritrea', 'Guatemala', 'Iceland',
       'Indonesia', 'Italy', 'Japan', 'New Zealand', 'Papua New Guinea',
       'Peru', 'Philippines', 'Russia', 'United States', 'Vanuatu'],
      dtype='object', name='Country')

Index(['Aoba', 'Aso', 'Bulusan', 'Calbuco', 'Campi Flegrei',
       'Dieng Volc Complex', 'Etna', 'Eyjafjallajokull', 'Fogo', 'Fuego',
       'Gamalama', 'Ijen', 'Kadovar', 'Karangetang [Api Siau]', 'Katla',
       'Kelut', 'Kilauea', 'Kirishima', 'Kusatsu-Shirane', 'Lokon-Empung',
       'Manam', 'Mayon', 'Merapi', 'Nabro', 'Okataina', 'On-take', 'Pacaya',
       'Paluweh', 'Puyehue', 'Rinjani', 'Sakura-jima', 'Sarigan', 'Sinabung',
       'Tengger Caldera', 'Tolbachik', 'Tungurahua', 'Ubinas', 'Yellowstone'],
      dtype='object', name='Name')

In [8]:
df.index.names = ['Country', 'Volcano_Name'] # Changing names of the index labels
df.head(15)

Year                               2010  2011  2012  2013  2014  2015  2016  \
Country    Volcano_Name
Cape Verde Fogo                       0     0     0     0     1     0     0
Chile      Calbuco                    0     0     0     0     0     1     0
           Puyehue                    0     1     0     0     0     0     0
Ecuador    Tungurahua                 2     1     0     0     0     0     0
Eritrea    Nabro                      0     1     0     0     0     0     0
Guatemala  Fuego                      0     0     0     0     0     0     0
           Pacaya                     1     0     0     0     0     0     0
Iceland    Eyjafjallajokull           1     0     0     0     0     0     0
           Katla                      0     1     0     0     0     0     0
Indonesia  Dieng Volc Complex         0     0     0     0     0     0     0
           Gamalama                   0     1     0     0     1     0     0
           Ijen                       0     0     0     0     0     0     0
           Karangetang [Api Siau]     1     1     0     0     0     1     0
           Kelut                      0     0     0     0     1     0     0
           Lokon-Empung               0     1     0     0     0     0     0

Year                               2017  2018
Country    Volcano_Name
Cape Verde Fogo                       0     0
Chile      Calbuco                    0     0
           Puyehue                    0     0
Ecuador    Tungurahua                 0     0
Eritrea    Nabro                      0     0
Guatemala  Fuego                      1     0
           Pacaya                     0     0
Iceland    Eyjafjallajokull           0     0
           Katla                      0     0
Indonesia  Dieng Volc Complex         1     0
           Gamalama                   0     0
           Ijen                       0     1
           Karangetang [Api Siau]     0     0
           Kelut                      0     0
           Lokon-Empung               0     0

In [9]:
display(df.columns)
display(df.columns.names)  # Column label

Int64Index([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype='int64', name='Year')

FrozenList(['Year'])

#### SLICING

**1.** Mostly similar to single index datframe. Except, here we pass the MultiIndex in tuples in order to get desired result.

**1.1.** Selecting range of data via slice

In [10]:
display(df.loc[ ('Iceland', 'Eyjafjallajokull'), 2010 : 2015 ])   # Both of them returns a Series

display(df.loc[ ('Guatemala', 'Pacaya'), :])

Year
2010    1
2011    0
2012    0
2013    0
2014    0
2015    0
Name: (Iceland, Eyjafjallajokull), dtype: int64

Year
2010    1
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
Name: (Guatemala, Pacaya), dtype: int64

In [11]:
df.loc[('Chile'), :] # Returns a dataframe 
# Equivlent to df.loc['Chile', :]

Year          2010  2011  2012  2013  2014  2015  2016  2017  2018
Volcano_Name
Calbuco          0     0     0     0     0     1     0     0     0
Puyehue          0     1     0     0     0     0     0     0     0

In [12]:
df.loc[('Chile'):('Indonesia'), (2010,2015)] 
# Returns a df containing all the MultiIndex and its assocaited col values from Chile to Indonesia for year 2010 and 2015

Year                              2010  2015
Country   Volcano_Name
Chile     Calbuco                    0     1
          Puyehue                    0     0
Ecuador   Tungurahua                 2     0
Eritrea   Nabro                      0     0
Guatemala Fuego                      0     0
          Pacaya                     1     0
Iceland   Eyjafjallajokull           1     0
          Katla                      0     0
Indonesia Dieng Volc Complex         0     0
          Gamalama                   0     0
          Ijen                       0     0
          Karangetang [Api Siau]     1     1
          Kelut                      0     0
          Lokon-Empung               0     0
          Merapi                     1     0
          Paluweh                    0     0
          Rinjani                    0     0
          Sinabung                   1     2
          Tengger Caldera            1     0

In [13]:
# Using slice() method to select everything in between two items.
df.loc[('Chile', 'Puyehue'):('Indonesia','Lokon-Empung'), : ]

Year                              2010  2011  2012  2013  2014  2015  2016  \
Country   Volcano_Name
Chile     Puyehue                    0     1     0     0     0     0     0
Ecuador   Tungurahua                 2     1     0     0     0     0     0
Eritrea   Nabro                      0     1     0     0     0     0     0
Guatemala Fuego                      0     0     0     0     0     0     0
          Pacaya                     1     0     0     0     0     0     0
Iceland   Eyjafjallajokull           1     0     0     0     0     0     0
          Katla                      0     1     0     0     0     0     0
Indonesia Dieng Volc Complex         0     0     0     0     0     0     0
          Gamalama                   0     1     0     0     1     0     0
          Ijen                       0     0     0     0     0     0     0
          Karangetang [Api Siau]     1     1     0     0     0     1     0
          Kelut                      0     0     0     0     1     0     0
          Lokon-Empung               0     1     0     0     0     0     0

Year                              2017  2018
Country   Volcano_Name
Chile     Puyehue                    0     0
Ecuador   Tungurahua                 0     0
Eritrea   Nabro                      0     0
Guatemala Fuego                      1     0
          Pacaya                     0     0
Iceland   Eyjafjallajokull           0     0
          Katla                      0     0
Indonesia Dieng Volc Complex         1     0
          Gamalama                   0     0
          Ijen                       0     1
          Karangetang [Api Siau]     0     0
          Kelut                      0     0
          Lokon-Empung               0     0

**1.** In case of MultiIndex-columns, while slicing and indexing, pass col level arguments as such:  

`df.loc[(row_level1_MultiIndex_label,...), (col_level1_MultiIndex_label, col_level2_MultiIndex_label)]`

**2.** For getting upto a certain no of MultiIndex columns (choosing sub_columns too):

`df.loc[(row_level1_MultiIndex_label,...), (col_level1_MultiIndex_label, col_level2_MultiIndex_label,..) :(col_level1_MultiIndex_label, col_level2_MultiIndex_label,..)]`
                  
`df.loc[(row_level1_MultiIndex_label,...), (col_level1_MultiIndex_label) :(col_level1_MultiIndex_label)]` includes all the sub_columns


**3.** For getting certain MultiIndex columns:

`df.loc[(row_level1_MultiIndex_label,...), (col_level1_MultiIndex_label, col_level2_MultiIndex_label,..),(col_level1_MultiIndex_label, col_level2_MultiIndex_label,..)]`

`df.loc[(row_level1_MultiIndex_label,...), (col_level1_MultiIndex_label,col_level1_MultiIndex_label)]` includes all the sub_columns

In [14]:
# Reading another MultiIndex data
df1 = pd.read_csv('Dataset/MultiIndex.csv', index_col= [0,1,2], skiprows= [2], header= [0,1]).sort_index()
df1

                                      2010            2011            2012  \
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
CA Warehouses Los Angeles   AC          27      24      20      21      20
                            Mobile      29      15      14      28      29
                            TV          23      14      18      21      10
              San Diego     AC          11      22      10      29      24
                            Mobile      14      27      24      16      23
                            TV          19      24      17      17      11
              San Francisco AC          10      14      10      16      17
                            Mobile      15      25      18      16      13
                            TV          28      16      15      29      28
NY Warehouses Beacon        AC          13      11      23      13      20
                            Mobile      10      17      24      27      25
                            TV          12      22      26      26      15
              Buffalo       AC          16      24      20      23      29
                            Mobile      26      12      10      23      18
                            TV          19      22      27      19      27
              Ithaca        AC          18      17      19      28      28
                            Mobile      10      28      27      22      18
                            TV          13      13      11      15      12
TX Warehouses Arlington     AC          21      18      13      22      16
                            Mobile      29      10      12      13      13
                            TV          15      20      22      25      23
              Austin        AC          15      28      28      11      11
                            Mobile      17      11      29      25      20
                            TV          27      11      14      11      23
              Houston       AC          12      25      18      12      26
                            Mobile      27      17      16      18      21
                            TV          11      18      22      21      26

                                              2013            2014          \
                                   Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
CA Warehouses Los Angeles   AC          29      18      29      15      17
                            Mobile      27      18      27      16      29
                            TV          15      11      19      25      11
              San Diego     AC          24      24      11      18      27
                            Mobile      20      11      23      29      16
                            TV          12      22      21      18      29
              San Francisco AC          20      28      25      27      11
                            Mobile      13      19      15      21      23
                            TV          27      27      14      12      20
NY Warehouses Beacon        AC          26      10      12      14      10
                            Mobile      11      22      26      10      13
                            TV          28      15      26      12      18
              Buffalo       AC          15      10      20      16      16
                            Mobile      10      10      26      16      18
                            TV          12      24      28      27      28
              Ithaca        AC          14      21      18      25      17
                            Mobile      14      22      12      14      16
                            TV          15      27      17      10      25
TX Warehouses Arlington     AC          18      21      22      22      11
                            Mobile      25      10      19      10      16
                            TV          20      23      21      13      26
              Austin        AC          12      15      25      29      16
                            Mobile      26      19      20      21      17
                            TV          22      27      10      28      29
              Houston       AC          23      21      12      22      29
                            Mobile      21      15      16      23      25
                            TV          18      18      12      15      26

                                      2015            2016            2017  \
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
CA Warehouses Los Angeles   AC          27      25      12      23      23
                            Mobile      10      15      20      17      11
                            TV          12      11      23      20      22
              San Diego     AC          29      10      16      28      12
                            Mobile      18      14      15      16      24
                            TV          22      19      13      28      18
              San Francisco AC          19      18      22      13      16
                            Mobile      11      26      27      16      16
                            TV          13      27      18      11      17
NY Warehouses Beacon        AC          28      26      21      26      29
                            Mobile      25      13      29      23      28
                            TV          17      10      21      19      24
              Buffalo       AC          25      21      19      12      21
                            Mobile      20      21      20      26      29
                            TV          10      16      25      26      20
              Ithaca        AC          18      27      23      24      22
                            Mobile      21      13      27      17      15
                            TV          20      27      17      16      13
TX Warehouses Arlington     AC          28      13      17      10      29
                            Mobile      12      15      13      15      27
                            TV          28      28      21      16      22
              Austin        AC          20      16      20      14      14
                            Mobile      26      20      10      10      13
                            TV          14      13      17      18      10
              Houston       AC          25      15      21      26      21
                            Mobile      11      22      28      20      22
                            TV          22      11      18      29      28

                                              2018            2019
                                   Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
CA Warehouses Los Angeles   AC          14      29      25      25      16
                            Mobile      14      25      11      29      19
                            TV          21      21      17      15      10
              San Diego     AC          19      10      15      20      15
                            Mobile      13      15      24      12      13
                            TV          29      10      19      22      17
              San Francisco AC          13      21      16      15      23
                            Mobile      18      29      22      25      20
                            TV          24      10      29      19      14
NY Warehouses Beacon        AC          12      29      18      20      24
                            Mobile      22      22      26      20      18
                            TV          23      26      19      19      13
              Buffalo       AC          19      11      28      19      19
                            Mobile      20      11      21      25      16
                            TV          25      10      27      20      20
              Ithaca        AC          12      11      12      19      22
                            Mobile      19      21      15      29      14
                            TV          23      15      26      15      28
TX Warehouses Arlington     AC          15      15      22      19      11
                            Mobile      18      21      27      15      29
                            TV          21      14      12      16      20
              Austin        AC          13      26      27      21      16
                            Mobile      27      23      29      12      24
                            TV          16      25      24      23      21
              Houston       AC          26      28      23      29      19
                            Mobile      26      10      18      22      27
                            TV          24      22      24      25      17

In [15]:
df1.index.names = ['State', 'Location', 'Product']
df1.columns.names= ['Year', 'Quater']

In [23]:
display(df1.index.values)
display(df1.columns.values)

array([('CA Warehouses', 'Los Angeles', 'AC'),
       ('CA Warehouses', 'Los Angeles', 'Mobile'),
       ('CA Warehouses', 'Los Angeles', 'TV'),
       ('CA Warehouses', 'San Diego', 'AC'),
       ('CA Warehouses', 'San Diego', 'Mobile'),
       ('CA Warehouses', 'San Diego', 'TV'),
       ('CA Warehouses', 'San Francisco', 'AC'),
       ('CA Warehouses', 'San Francisco', 'Mobile'),
       ('CA Warehouses', 'San Francisco', 'TV'),
       ('NY Warehouses', 'Beacon', 'AC'),
       ('NY Warehouses', 'Beacon', 'Mobile'),
       ('NY Warehouses', 'Beacon', 'TV'),
       ('NY Warehouses', 'Buffalo', 'AC'),
       ('NY Warehouses', 'Buffalo', 'Mobile'),
       ('NY Warehouses', 'Buffalo', 'TV'),
       ('NY Warehouses', 'Ithaca', 'AC'),
       ('NY Warehouses', 'Ithaca', 'Mobile'),
       ('NY Warehouses', 'Ithaca', 'TV'),
       ('TX Warehouses', 'Arlington', 'AC'),
       ('TX Warehouses', 'Arlington', 'Mobile'),
       ('TX Warehouses', 'Arlington', 'TV'),
       ('TX Warehouses', 'Austin', 'AC'),
       ('TX Warehouses', 'Austin', 'Mobile'),
       ('TX Warehouses', 'Austin', 'TV'),
       ('TX Warehouses', 'Houston', 'AC'),
       ('TX Warehouses', 'Houston', 'Mobile'),
       ('TX Warehouses', 'Houston', 'TV')], dtype=object)

array([('2010', 'Jan-Jun'), ('2010', 'Jul-Dec'), ('2011', 'Jan-Jun'),
       ('2011', 'Jul-Dec'), ('2012', 'Jan-Jun'), ('2012', 'Jul-Dec'),
       ('2013', 'Jan-Jun'), ('2013', 'Jul-Dec'), ('2014', 'Jan-Jun'),
       ('2014', 'Jul-Dec'), ('2015', 'Jan-Jun'), ('2015', 'Jul-Dec'),
       ('2016', 'Jan-Jun'), ('2016', 'Jul-Dec'), ('2017', 'Jan-Jun'),
       ('2017', 'Jul-Dec'), ('2018', 'Jan-Jun'), ('2018', 'Jul-Dec'),
       ('2019', 'Jan-Jun'), ('2019', 'Jul-Dec')], dtype=object)

In [24]:
df1

Year                                   2010            2011            2012  \
Quater                              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location      Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28
NY Warehouses Beacon        AC           13      11      23      13      20
                            Mobile       10      17      24      27      25
                            TV           12      22      26      26      15
              Buffalo       AC           16      24      20      23      29
                            Mobile       26      12      10      23      18
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18
                            TV           13      13      11      15      12
TX Warehouses Arlington     AC           21      18      13      22      16
                            Mobile       29      10      12      13      13
                            TV           15      20      22      25      23
              Austin        AC           15      28      28      11      11
                            Mobile       17      11      29      25      20
                            TV           27      11      14      11      23
              Houston       AC           12      25      18      12      26
                            Mobile       27      17      16      18      21
                            TV           11      18      22      21      26

Year                                           2013            2014          \
Quater                              Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location      Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            Mobile       10      10      26      16      18
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16
                            TV           15      27      17      10      25
TX Warehouses Arlington     AC           18      21      22      22      11
                            Mobile       25      10      19      10      16
                            TV           20      23      21      13      26
              Austin        AC           12      15      25      29      16
                            Mobile       26      19      20      21      17
                            TV           22      27      10      28      29
              Houston       AC           23      21      12      22      29
                            Mobile       21      15      16      23      25
                            TV           18      18      12      15      26

Year                                   2015            2016            2017  \
Quater                              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location      Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            Mobile       10      15      20      17      11
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            Mobile       18      14      15      16      24
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
                            TV           13      27      18      11      17
NY Warehouses Beacon        AC           28      26      21      26      29
                            Mobile       25      13      29      23      28
                            TV           17      10      21      19      24
              Buffalo       AC           25      21      19      12      21
                            Mobile       20      21      20      26      29
                            TV           10      16      25      26      20
              Ithaca        AC           18      27      23      24      22
                            Mobile       21      13      27      17      15
                            TV           20      27      17      16      13
TX Warehouses Arlington     AC           28      13      17      10      29
                            Mobile       12      15      13      15      27
                            TV           28      28      21      16      22
              Austin        AC           20      16      20      14      14
                            Mobile       26      20      10      10      13
                            TV           14      13      17      18      10
              Houston       AC           25      15      21      26      21
                            Mobile       11      22      28      20      22
                            TV           22      11      18      29      28

Year                                           2018            2019
Quater                              Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location      Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            Mobile       14      25      11      29      19
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            Mobile       13      15      24      12      13
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
                            TV           24      10      29      19      14
NY Warehouses Beacon        AC           12      29      18      20      24
                            Mobile       22      22      26      20      18
                            TV           23      26      19      19      13
              Buffalo       AC           19      11      28      19      19
                            Mobile       20      11      21      25      16
                            TV           25      10      27      20      20
              Ithaca        AC           12      11      12      19      22
                            Mobile       19      21      15      29      14
                            TV           23      15      26      15      28
TX Warehouses Arlington     AC           15      15      22      19      11
                            Mobile       18      21      27      15      29
                            TV           21      14      12      16      20
              Austin        AC           13      26      27      21      16
                            Mobile       27      23      29      12      24
                            TV           16      25      24      23      21
              Houston       AC           26      28      23      29      19
                            Mobile       26      10      18      22      27
                            TV           24      22      24      25      17

In [25]:
display(df1.loc[('CA Warehouses'): ('NY Warehouses'), :])
display(df1.loc['CA Warehouses': 'NY Warehouses', :])
# Both produces same result. But to avoid Ambuguity use the first one's syntax

Year                                   2010            2011            2012  \
Quater                              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location      Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28
NY Warehouses Beacon        AC           13      11      23      13      20
                            Mobile       10      17      24      27      25
                            TV           12      22      26      26      15
              Buffalo       AC           16      24      20      23      29
                            Mobile       26      12      10      23      18
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18
                            TV           13      13      11      15      12

Year                                           2013            2014          \
Quater                              Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location      Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            Mobile       10      10      26      16      18
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16
                            TV           15      27      17      10      25

Year                                   2015            2016            2017  \
Quater                              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location      Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            Mobile       10      15      20      17      11
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            Mobile       18      14      15      16      24
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
                            TV           13      27      18      11      17
NY Warehouses Beacon        AC           28      26      21      26      29
                            Mobile       25      13      29      23      28
                            TV           17      10      21      19      24
              Buffalo       AC           25      21      19      12      21
                            Mobile       20      21      20      26      29
                            TV           10      16      25      26      20
              Ithaca        AC           18      27      23      24      22
                            Mobile       21      13      27      17      15
                            TV           20      27      17      16      13

Year                                           2018            2019
Quater                              Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location      Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            Mobile       14      25      11      29      19
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            Mobile       13      15      24      12      13
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
                            TV           24      10      29      19      14
NY Warehouses Beacon        AC           12      29      18      20      24
                            Mobile       22      22      26      20      18
                            TV           23      26      19      19      13
              Buffalo       AC           19      11      28      19      19
                            Mobile       20      11      21      25      16
                            TV           25      10      27      20      20
              Ithaca        AC           12      11      12      19      22
                            Mobile       19      21      15      29      14
                            TV           23      15      26      15      28

Year                                   2010            2011            2012  \
Quater                              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location      Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28
NY Warehouses Beacon        AC           13      11      23      13      20
                            Mobile       10      17      24      27      25
                            TV           12      22      26      26      15
              Buffalo       AC           16      24      20      23      29
                            Mobile       26      12      10      23      18
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18
                            TV           13      13      11      15      12

Year                                           2013            2014          \
Quater                              Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location      Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            Mobile       10      10      26      16      18
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16
                            TV           15      27      17      10      25

Year                                   2015            2016            2017  \
Quater                              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location      Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            Mobile       10      15      20      17      11
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            Mobile       18      14      15      16      24
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
                            TV           13      27      18      11      17
NY Warehouses Beacon        AC           28      26      21      26      29
                            Mobile       25      13      29      23      28
                            TV           17      10      21      19      24
              Buffalo       AC           25      21      19      12      21
                            Mobile       20      21      20      26      29
                            TV           10      16      25      26      20
              Ithaca        AC           18      27      23      24      22
                            Mobile       21      13      27      17      15
                            TV           20      27      17      16      13

Year                                           2018            2019
Quater                              Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location      Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            Mobile       14      25      11      29      19
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            Mobile       13      15      24      12      13
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
                            TV           24      10      29      19      14
NY Warehouses Beacon        AC           12      29      18      20      24
                            Mobile       22      22      26      20      18
                            TV           23      26      19      19      13
              Buffalo       AC           19      11      28      19      19
                            Mobile       20      11      21      25      16
                            TV           25      10      27      20      20
              Ithaca        AC           12      11      12      19      22
                            Mobile       19      21      15      29      14
                            TV           23      15      26      15      28

In [26]:
# Lets pull out data from 2010 to 2015 of all Warehouses
df1.loc[:, ('2010'):('2015') ] # as Year and Quater values are in string format

Year                                   2010            2011            2012  \
Quater                              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location      Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28
NY Warehouses Beacon        AC           13      11      23      13      20
                            Mobile       10      17      24      27      25
                            TV           12      22      26      26      15
              Buffalo       AC           16      24      20      23      29
                            Mobile       26      12      10      23      18
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18
                            TV           13      13      11      15      12
TX Warehouses Arlington     AC           21      18      13      22      16
                            Mobile       29      10      12      13      13
                            TV           15      20      22      25      23
              Austin        AC           15      28      28      11      11
                            Mobile       17      11      29      25      20
                            TV           27      11      14      11      23
              Houston       AC           12      25      18      12      26
                            Mobile       27      17      16      18      21
                            TV           11      18      22      21      26

Year                                           2013            2014          \
Quater                              Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location      Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            Mobile       10      10      26      16      18
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16
                            TV           15      27      17      10      25
TX Warehouses Arlington     AC           18      21      22      22      11
                            Mobile       25      10      19      10      16
                            TV           20      23      21      13      26
              Austin        AC           12      15      25      29      16
                            Mobile       26      19      20      21      17
                            TV           22      27      10      28      29
              Houston       AC           23      21      12      22      29
                            Mobile       21      15      16      23      25
                            TV           18      18      12      15      26

Year                                   2015
Quater                              Jan-Jun Jul-Dec
State         Location      Product
CA Warehouses Los Angeles   AC           27      25
                            Mobile       10      15
                            TV           12      11
              San Diego     AC           29      10
                            Mobile       18      14
                            TV           22      19
              San Francisco AC           19      18
                            Mobile       11      26
                            TV           13      27
NY Warehouses Beacon        AC           28      26
                            Mobile       25      13
                            TV           17      10
              Buffalo       AC           25      21
                            Mobile       20      21
                            TV           10      16
              Ithaca        AC           18      27
                            Mobile       21      13
                            TV           20      27
TX Warehouses Arlington     AC           28      13
                            Mobile       12      15
                            TV           28      28
              Austin        AC           20      16
                            Mobile       26      20
                            TV           14      13
              Houston       AC           25      15
                            Mobile       11      22
                            TV           22      11

In [27]:
# # Lets pull out data from 2010 to 2015 of only NY warehouses
df1.loc[('NY Warehouses'), ('2010'):('2015')]

Year                2010            2011            2012            2013  \
Quater           Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
Location Product
Beacon   AC           13      11      23      13      20      26      10
         Mobile       10      17      24      27      25      11      22
         TV           12      22      26      26      15      28      15
Buffalo  AC           16      24      20      23      29      15      10
         Mobile       26      12      10      23      18      10      10
         TV           19      22      27      19      27      12      24
Ithaca   AC           18      17      19      28      28      14      21
         Mobile       10      28      27      22      18      14      22
         TV           13      13      11      15      12      15      27

Year                        2014            2015
Quater           Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Location Product
Beacon   AC           12      14      10      28      26
         Mobile       26      10      13      25      13
         TV           26      12      18      17      10
Buffalo  AC           20      16      16      25      21
         Mobile       26      16      18      20      21
         TV           28      27      28      10      16
Ithaca   AC           18      25      17      18      27
         Mobile       12      14      16      21      13
         TV           17      10      25      20      27

In [28]:
# Lets pull out data of a single Quater of a particular Warehouse
df1.loc[('NY Warehouses'), ('2010','Jul-Dec')]

Location  Product
Beacon    AC         11
          Mobile     17
          TV         22
Buffalo   AC         24
          Mobile     12
          TV         22
Ithaca    AC         17
          Mobile     28
          TV         13
Name: (2010, Jul-Dec), dtype: int64

In [29]:
# Lets pull out data for a range of Quater of all Warehouses
df1.loc[: , ('2010','Jul-Dec'): ('2018', 'Jan-Jun')]

Year                                   2010    2011            2012          \
Quater                              Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location      Product
CA Warehouses Los Angeles   AC           24      20      21      20      29
                            Mobile       15      14      28      29      27
                            TV           14      18      21      10      15
              San Diego     AC           22      10      29      24      24
                            Mobile       27      24      16      23      20
                            TV           24      17      17      11      12
              San Francisco AC           14      10      16      17      20
                            Mobile       25      18      16      13      13
                            TV           16      15      29      28      27
NY Warehouses Beacon        AC           11      23      13      20      26
                            Mobile       17      24      27      25      11
                            TV           22      26      26      15      28
              Buffalo       AC           24      20      23      29      15
                            Mobile       12      10      23      18      10
                            TV           22      27      19      27      12
              Ithaca        AC           17      19      28      28      14
                            Mobile       28      27      22      18      14
                            TV           13      11      15      12      15
TX Warehouses Arlington     AC           18      13      22      16      18
                            Mobile       10      12      13      13      25
                            TV           20      22      25      23      20
              Austin        AC           28      28      11      11      12
                            Mobile       11      29      25      20      26
                            TV           11      14      11      23      22
              Houston       AC           25      18      12      26      23
                            Mobile       17      16      18      21      21
                            TV           18      22      21      26      18

Year                                   2013            2014            2015  \
Quater                              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location      Product
CA Warehouses Los Angeles   AC           18      29      15      17      27
                            Mobile       18      27      16      29      10
                            TV           11      19      25      11      12
              San Diego     AC           24      11      18      27      29
                            Mobile       11      23      29      16      18
                            TV           22      21      18      29      22
              San Francisco AC           28      25      27      11      19
                            Mobile       19      15      21      23      11
                            TV           27      14      12      20      13
NY Warehouses Beacon        AC           10      12      14      10      28
                            Mobile       22      26      10      13      25
                            TV           15      26      12      18      17
              Buffalo       AC           10      20      16      16      25
                            Mobile       10      26      16      18      20
                            TV           24      28      27      28      10
              Ithaca        AC           21      18      25      17      18
                            Mobile       22      12      14      16      21
                            TV           27      17      10      25      20
TX Warehouses Arlington     AC           21      22      22      11      28
                            Mobile       10      19      10      16      12
                            TV           23      21      13      26      28
              Austin        AC           15      25      29      16      20
                            Mobile       19      20      21      17      26
                            TV           27      10      28      29      14
              Houston       AC           21      12      22      29      25
                            Mobile       15      16      23      25      11
                            TV           18      12      15      26      22

Year                                           2016            2017          \
Quater                              Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location      Product
CA Warehouses Los Angeles   AC           25      12      23      23      14
                            Mobile       15      20      17      11      14
                            TV           11      23      20      22      21
              San Diego     AC           10      16      28      12      19
                            Mobile       14      15      16      24      13
                            TV           19      13      28      18      29
              San Francisco AC           18      22      13      16      13
                            Mobile       26      27      16      16      18
                            TV           27      18      11      17      24
NY Warehouses Beacon        AC           26      21      26      29      12
                            Mobile       13      29      23      28      22
                            TV           10      21      19      24      23
              Buffalo       AC           21      19      12      21      19
                            Mobile       21      20      26      29      20
                            TV           16      25      26      20      25
              Ithaca        AC           27      23      24      22      12
                            Mobile       13      27      17      15      19
                            TV           27      17      16      13      23
TX Warehouses Arlington     AC           13      17      10      29      15
                            Mobile       15      13      15      27      18
                            TV           28      21      16      22      21
              Austin        AC           16      20      14      14      13
                            Mobile       20      10      10      13      27
                            TV           13      17      18      10      16
              Houston       AC           15      21      26      21      26
                            Mobile       22      28      20      22      26
                            TV           11      18      29      28      24

Year                                   2018
Quater                              Jan-Jun
State         Location      Product
CA Warehouses Los Angeles   AC           29
                            Mobile       25
                            TV           21
              San Diego     AC           10
                            Mobile       15
                            TV           10
              San Francisco AC           21
                            Mobile       29
                            TV           10
NY Warehouses Beacon        AC           29
                            Mobile       22
                            TV           26
              Buffalo       AC           11
                            Mobile       11
                            TV           10
              Ithaca        AC           11
                            Mobile       21
                            TV           15
TX Warehouses Arlington     AC           15
                            Mobile       21
                            TV           14
              Austin        AC           26
                            Mobile       23
                            TV           25
              Houston       AC           28
                            Mobile       10
                            TV           22

In [30]:
# Lets pull out data for ceratin of Quater of CA Warehouses
df1.loc[('CA Warehouses') , ('2010','Jul-Dec'): ('2012', 'Jul-Dec')]

Year                     2010    2011            2012
Quater                Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Location      Product
Los Angeles   AC           24      20      21      20      29
              Mobile       15      14      28      29      27
              TV           14      18      21      10      15
San Diego     AC           22      10      29      24      24
              Mobile       27      24      16      23      20
              TV           24      17      17      11      12
San Francisco AC           14      10      16      17      20
              Mobile       25      18      16      13      13
              TV           16      15      29      28      27

In [31]:
# We can find out total no of units of diffrent products sold in that time period
df1.loc[('CA Warehouses') , ('2010','Jul-Dec'): ('2012', 'Jul-Dec')].sum(axis=1)

Location       Product
Los Angeles    AC         114
               Mobile     113
               TV          78
San Diego      AC         109
               Mobile     110
               TV          81
San Francisco  AC          77
               Mobile      85
               TV         115
dtype: int64

In [32]:
# Lets pull out data of products sold from a location of a given warehouse and total amount sold
display(df1.loc[('CA Warehouses','Los Angeles' ) , ('2010','Jul-Dec'): ('2014', 'Jul-Dec')])
display(df1.loc[('CA Warehouses','Los Angeles' ) , ('2010','Jul-Dec'): ('2014', 'Jul-Dec')].sum(axis =1))

Year       2010    2011            2012            2013            2014  \
Quater  Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
Product
AC           24      20      21      20      29      18      29      15
Mobile       15      14      28      29      27      18      27      16
TV           14      18      21      10      15      11      19      25

Year
Quater  Jul-Dec
Product
AC           17
Mobile       29
TV           11

Product
AC        193
Mobile    203
TV        144
dtype: int64

**USING CROSS-SECTION FOR SLICING**

**4.** `df.xs()`: Produces a cross section of a dataframe. 

This method takes a `key`(label, contained in the index, or partially in a MultiIndex) argument to select data at a particular level of a MultiIndex.  

`level` In case of a key partially contained in a MultiIndex, indicate which levels are used. Levels can be referred by label or integer position.

**5.** In case of passing mutiple `key` use like dis:

`df.xs( key= (label1, label2,..), level= (labelOf_levelOf_label1, labelOf_levelOf_label2,...))`

**6** In case if we want to work with multiIndex Columns, give `axis= 1` parameter. use like dis:

 `df.xs( key= (col_label1, col_label2,..), level= (labelOf_levelOf_label1, labelOf_levelOf_label2...), axis= 1)`
 
     for single `key` value :
  
  `df.xs( key= (col_label1), level= (labelOf_levelOf_label1), axis= 1)`

In [33]:
# Lets pull out data of a particluar product sold from all location 
df1.xs('TV', level='Product', drop_level= False)

Year                                   2010            2011            2012  \
Quater                              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location      Product
CA Warehouses Los Angeles   TV           23      14      18      21      10
              San Diego     TV           19      24      17      17      11
              San Francisco TV           28      16      15      29      28
NY Warehouses Beacon        TV           12      22      26      26      15
              Buffalo       TV           19      22      27      19      27
              Ithaca        TV           13      13      11      15      12
TX Warehouses Arlington     TV           15      20      22      25      23
              Austin        TV           27      11      14      11      23
              Houston       TV           11      18      22      21      26

Year                                           2013            2014          \
Quater                              Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location      Product
CA Warehouses Los Angeles   TV           15      11      19      25      11
              San Diego     TV           12      22      21      18      29
              San Francisco TV           27      27      14      12      20
NY Warehouses Beacon        TV           28      15      26      12      18
              Buffalo       TV           12      24      28      27      28
              Ithaca        TV           15      27      17      10      25
TX Warehouses Arlington     TV           20      23      21      13      26
              Austin        TV           22      27      10      28      29
              Houston       TV           18      18      12      15      26

Year                                   2015            2016            2017  \
Quater                              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location      Product
CA Warehouses Los Angeles   TV           12      11      23      20      22
              San Diego     TV           22      19      13      28      18
              San Francisco TV           13      27      18      11      17
NY Warehouses Beacon        TV           17      10      21      19      24
              Buffalo       TV           10      16      25      26      20
              Ithaca        TV           20      27      17      16      13
TX Warehouses Arlington     TV           28      28      21      16      22
              Austin        TV           14      13      17      18      10
              Houston       TV           22      11      18      29      28

Year                                           2018            2019
Quater                              Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location      Product
CA Warehouses Los Angeles   TV           21      21      17      15      10
              San Diego     TV           29      10      19      22      17
              San Francisco TV           24      10      29      19      14
NY Warehouses Beacon        TV           23      26      19      19      13
              Buffalo       TV           25      10      27      20      20
              Ithaca        TV           23      15      26      15      28
TX Warehouses Arlington     TV           21      14      12      16      20
              Austin        TV           16      25      24      23      21
              Houston       TV           24      22      24      25      17

In [34]:
# Lets pull out data of a particluar product sold from all location of a particular Warehouse
display(df1.xs(('TX Warehouses','TV'), level= (0,2), drop_level= False))
display(df1.xs(('TX Warehouses','TV'), level= (0,2), drop_level= False).sum(axis=1)) # Total amount

Year                               2010            2011            2012  \
Quater                          Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location  Product
TX Warehouses Arlington TV           15      20      22      25      23
              Austin    TV           27      11      14      11      23
              Houston   TV           11      18      22      21      26

Year                                       2013            2014          \
Quater                          Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location  Product
TX Warehouses Arlington TV           20      23      21      13      26
              Austin    TV           22      27      10      28      29
              Houston   TV           18      18      12      15      26

Year                               2015            2016            2017  \
Quater                          Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location  Product
TX Warehouses Arlington TV           28      28      21      16      22
              Austin    TV           14      13      17      18      10
              Houston   TV           22      11      18      29      28

Year                                       2018            2019
Quater                          Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location  Product
TX Warehouses Arlington TV           21      14      12      16      20
              Austin    TV           16      25      24      23      21
              Houston   TV           24      22      24      25      17

State          Location   Product
TX Warehouses  Arlington  TV         406
               Austin     TV         383
               Houston    TV         407
dtype: int64

In [35]:
# Another way of doing the above
df1.loc[(['TX Warehouses'], ['Austin','Arlington','Houston'], ['TV']), : ]

Year                               2010            2011            2012  \
Quater                          Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location  Product
TX Warehouses Austin    TV           27      11      14      11      23
              Arlington TV           15      20      22      25      23
              Houston   TV           11      18      22      21      26

Year                                       2013            2014          \
Quater                          Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location  Product
TX Warehouses Austin    TV           22      27      10      28      29
              Arlington TV           20      23      21      13      26
              Houston   TV           18      18      12      15      26

Year                               2015            2016            2017  \
Quater                          Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location  Product
TX Warehouses Austin    TV           14      13      17      18      10
              Arlington TV           28      28      21      16      22
              Houston   TV           22      11      18      29      28

Year                                       2018            2019
Quater                          Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location  Product
TX Warehouses Austin    TV           16      25      24      23      21
              Arlington TV           21      14      12      16      20
              Houston   TV           24      22      24      25      17

In [36]:
# Lets pull out data for a particular period 
df1.xs(('Jan-Jun'), level= (1), axis=1, drop_level= False)

Year                                   2010    2011    2012    2013    2014  \
Quater                              Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun
State         Location      Product
CA Warehouses Los Angeles   AC           27      20      20      18      15
                            Mobile       29      14      29      18      16
                            TV           23      18      10      11      25
              San Diego     AC           11      10      24      24      18
                            Mobile       14      24      23      11      29
                            TV           19      17      11      22      18
              San Francisco AC           10      10      17      28      27
                            Mobile       15      18      13      19      21
                            TV           28      15      28      27      12
NY Warehouses Beacon        AC           13      23      20      10      14
                            Mobile       10      24      25      22      10
                            TV           12      26      15      15      12
              Buffalo       AC           16      20      29      10      16
                            Mobile       26      10      18      10      16
                            TV           19      27      27      24      27
              Ithaca        AC           18      19      28      21      25
                            Mobile       10      27      18      22      14
                            TV           13      11      12      27      10
TX Warehouses Arlington     AC           21      13      16      21      22
                            Mobile       29      12      13      10      10
                            TV           15      22      23      23      13
              Austin        AC           15      28      11      15      29
                            Mobile       17      29      20      19      21
                            TV           27      14      23      27      28
              Houston       AC           12      18      26      21      22
                            Mobile       27      16      21      15      23
                            TV           11      22      26      18      15

Year                                   2015    2016    2017    2018    2019
Quater                              Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun
State         Location      Product
CA Warehouses Los Angeles   AC           27      12      23      29      25
                            Mobile       10      20      11      25      29
                            TV           12      23      22      21      15
              San Diego     AC           29      16      12      10      20
                            Mobile       18      15      24      15      12
                            TV           22      13      18      10      22
              San Francisco AC           19      22      16      21      15
                            Mobile       11      27      16      29      25
                            TV           13      18      17      10      19
NY Warehouses Beacon        AC           28      21      29      29      20
                            Mobile       25      29      28      22      20
                            TV           17      21      24      26      19
              Buffalo       AC           25      19      21      11      19
                            Mobile       20      20      29      11      25
                            TV           10      25      20      10      20
              Ithaca        AC           18      23      22      11      19
                            Mobile       21      27      15      21      29
                            TV           20      17      13      15      15
TX Warehouses Arlington     AC           28      17      29      15      19
                            Mobile       12      13      27      21      15
                            TV           28      21      22      14      16
              Austin        AC           20      20      14      26      21
                            Mobile       26      10      13      23      12
                            TV           14      17      10      25      23
              Houston       AC           25      21      21      28      29
                            Mobile       11      28      22      10      22
                            TV           22      18      28      22      25

**NOTE :** For getting detials of a particular time period for a particular location of a warehouse, simply store all details of that location in a DataFrame and apply `xs()` method on that DataFrame using `axis= 1` parameter.

In [37]:
# Storing in a temp df
temp_df = df1.xs(('TX Warehouses'), level= (0), drop_level= False)

# Applying xs() method
temp_df.xs(('Jan-Jun'), level= 1, axis=1, drop_level= False)

Year                               2010    2011    2012    2013    2014  \
Quater                          Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun
State         Location  Product
TX Warehouses Arlington AC           21      13      16      21      22
                        Mobile       29      12      13      10      10
                        TV           15      22      23      23      13
              Austin    AC           15      28      11      15      29
                        Mobile       17      29      20      19      21
                        TV           27      14      23      27      28
              Houston   AC           12      18      26      21      22
                        Mobile       27      16      21      15      23
                        TV           11      22      26      18      15

Year                               2015    2016    2017    2018    2019
Quater                          Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun
State         Location  Product
TX Warehouses Arlington AC           28      17      29      15      19
                        Mobile       12      13      27      21      15
                        TV           28      21      22      14      16
              Austin    AC           20      20      14      26      21
                        Mobile       26      10      13      23      12
                        TV           14      17      10      25      23
              Houston   AC           25      21      21      28      29
                        Mobile       11      28      22      10      22
                        TV           22      18      28      22      25

**slice() METHOD**

In [38]:
# we can also get data for a particular product for a given location(s)
# using slice() method, not only using xs() method
# Arguments are positional, meaning left ot right
# slice(None) indicates that we dont want to slice that index level. Here 2nd level.

df1.loc[(['NY Warehouses'], slice('None'), ['Mobile']), : ]

Year                              2010            2011            2012  \
Quater                         Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location Product
NY Warehouses Beacon   Mobile       10      17      24      27      25
              Buffalo  Mobile       26      12      10      23      18
              Ithaca   Mobile       10      28      27      22      18

Year                                      2013            2014          \
Quater                         Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location Product
NY Warehouses Beacon   Mobile       11      22      26      10      13
              Buffalo  Mobile       10      10      26      16      18
              Ithaca   Mobile       14      22      12      14      16

Year                              2015            2016            2017  \
Quater                         Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location Product
NY Warehouses Beacon   Mobile       25      13      29      23      28
              Buffalo  Mobile       20      21      20      26      29
              Ithaca   Mobile       21      13      27      17      15

Year                                      2018            2019
Quater                         Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location Product
NY Warehouses Beacon   Mobile       22      22      26      20      18
              Buffalo  Mobile       20      11      21      25      16
              Ithaca   Mobile       19      21      15      29      14

In [39]:
# incase of single argument slice(stop)
# incase of double argument, slice(start, stop)

# Acting as slice(stop)
display(df1.loc[(slice('NY Warehouses'), slice(None), slice('Mobile')), : ])

Year                                   2010            2011            2012  \
Quater                              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location      Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
NY Warehouses Beacon        AC           13      11      23      13      20
                            Mobile       10      17      24      27      25
              Buffalo       AC           16      24      20      23      29
                            Mobile       26      12      10      23      18
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18

Year                                           2013            2014          \
Quater                              Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location      Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
              Buffalo       AC           15      10      20      16      16
                            Mobile       10      10      26      16      18
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16

Year                                   2015            2016            2017  \
Quater                              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location      Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            Mobile       10      15      20      17      11
              San Diego     AC           29      10      16      28      12
                            Mobile       18      14      15      16      24
              San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
NY Warehouses Beacon        AC           28      26      21      26      29
                            Mobile       25      13      29      23      28
              Buffalo       AC           25      21      19      12      21
                            Mobile       20      21      20      26      29
              Ithaca        AC           18      27      23      24      22
                            Mobile       21      13      27      17      15

Year                                           2018            2019
Quater                              Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location      Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            Mobile       14      25      11      29      19
              San Diego     AC           19      10      15      20      15
                            Mobile       13      15      24      12      13
              San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
NY Warehouses Beacon        AC           12      29      18      20      24
                            Mobile       22      22      26      20      18
              Buffalo       AC           19      11      28      19      19
                            Mobile       20      11      21      25      16
              Ithaca        AC           12      11      12      19      22
                            Mobile       19      21      15      29      14

In [40]:
# Acting as slice(start,stop)
display(df1.loc[(slice('NY Warehouses', 'TX Warehouses'), slice(None), slice('Mobile', 'TV')), : ])

Year                               2010            2011            2012  \
Quater                          Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location  Product
NY Warehouses Beacon    Mobile       10      17      24      27      25
                        TV           12      22      26      26      15
              Buffalo   Mobile       26      12      10      23      18
                        TV           19      22      27      19      27
              Ithaca    Mobile       10      28      27      22      18
                        TV           13      13      11      15      12
TX Warehouses Arlington Mobile       29      10      12      13      13
                        TV           15      20      22      25      23
              Austin    Mobile       17      11      29      25      20
                        TV           27      11      14      11      23
              Houston   Mobile       27      17      16      18      21
                        TV           11      18      22      21      26

Year                                       2013            2014          \
Quater                          Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location  Product
NY Warehouses Beacon    Mobile       11      22      26      10      13
                        TV           28      15      26      12      18
              Buffalo   Mobile       10      10      26      16      18
                        TV           12      24      28      27      28
              Ithaca    Mobile       14      22      12      14      16
                        TV           15      27      17      10      25
TX Warehouses Arlington Mobile       25      10      19      10      16
                        TV           20      23      21      13      26
              Austin    Mobile       26      19      20      21      17
                        TV           22      27      10      28      29
              Houston   Mobile       21      15      16      23      25
                        TV           18      18      12      15      26

Year                               2015            2016            2017  \
Quater                          Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location  Product
NY Warehouses Beacon    Mobile       25      13      29      23      28
                        TV           17      10      21      19      24
              Buffalo   Mobile       20      21      20      26      29
                        TV           10      16      25      26      20
              Ithaca    Mobile       21      13      27      17      15
                        TV           20      27      17      16      13
TX Warehouses Arlington Mobile       12      15      13      15      27
                        TV           28      28      21      16      22
              Austin    Mobile       26      20      10      10      13
                        TV           14      13      17      18      10
              Houston   Mobile       11      22      28      20      22
                        TV           22      11      18      29      28

Year                                       2018            2019
Quater                          Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location  Product
NY Warehouses Beacon    Mobile       22      22      26      20      18
                        TV           23      26      19      19      13
              Buffalo   Mobile       20      11      21      25      16
                        TV           25      10      27      20      20
              Ithaca    Mobile       19      21      15      29      14
                        TV           23      15      26      15      28
TX Warehouses Arlington Mobile       18      21      27      15      29
                        TV           21      14      12      16      20
              Austin    Mobile       27      23      29      12      24
                        TV           16      25      24      23      21
              Houston   Mobile       26      10      18      22      27
                        TV           24      22      24      25      17

**take() METHOD FOR SLICING**

**7.** `take()` method takes postional integer value of row labels or column labels as arguments.

For columns, pass `axis= 1` parameter.

All rows and columns starts from 0 goes on like 1,2,3,4,5.....

In [41]:
# ALong axis= 0
display(df.take([1,2]))

display(df1.take([2,3,4,9]))

Year                  2010  2011  2012  2013  2014  2015  2016  2017  2018
Country Volcano_Name
Chile   Calbuco          0     0     0     0     0     1     0     0     0
        Puyehue          0     1     0     0     0     0     0     0     0

Year                                 2010            2011            2012  \
Quater                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location    Product
CA Warehouses Los Angeles TV           23      14      18      21      10
              San Diego   AC           11      22      10      29      24
                          Mobile       14      27      24      16      23
NY Warehouses Beacon      AC           13      11      23      13      20

Year                                         2013            2014          \
Quater                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location    Product
CA Warehouses Los Angeles TV           15      11      19      25      11
              San Diego   AC           24      24      11      18      27
                          Mobile       20      11      23      29      16
NY Warehouses Beacon      AC           26      10      12      14      10

Year                                 2015            2016            2017  \
Quater                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         Location    Product
CA Warehouses Los Angeles TV           12      11      23      20      22
              San Diego   AC           29      10      16      28      12
                          Mobile       18      14      15      16      24
NY Warehouses Beacon      AC           28      26      21      26      29

Year                                         2018            2019
Quater                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         Location    Product
CA Warehouses Los Angeles TV           21      21      17      15      10
              San Diego   AC           19      10      15      20      15
                          Mobile       13      15      24      12      13
NY Warehouses Beacon      AC           12      29      18      20      24

In [42]:
# ALong axis= 1
df1.take([0,1,2], axis=1)

Year                                   2010            2011
Quater                              Jan-Jun Jul-Dec Jan-Jun
State         Location      Product
CA Warehouses Los Angeles   AC           27      24      20
                            Mobile       29      15      14
                            TV           23      14      18
              San Diego     AC           11      22      10
                            Mobile       14      27      24
                            TV           19      24      17
              San Francisco AC           10      14      10
                            Mobile       15      25      18
                            TV           28      16      15
NY Warehouses Beacon        AC           13      11      23
                            Mobile       10      17      24
                            TV           12      22      26
              Buffalo       AC           16      24      20
                            Mobile       26      12      10
                            TV           19      22      27
              Ithaca        AC           18      17      19
                            Mobile       10      28      27
                            TV           13      13      11
TX Warehouses Arlington     AC           21      18      13
                            Mobile       29      10      12
                            TV           15      20      22
              Austin        AC           15      28      28
                            Mobile       17      11      29
                            TV           27      11      14
              Houston       AC           12      25      18
                            Mobile       27      17      16
                            TV           11      18      22